.sidebar__chat {
  border-bottom: 1px solid #f6f6f6;
  cursor: pointer;
  display: flex;
  padding: 20px;
}

.sidebar__chat:hover {
  background-color: #ebebeb;
}

.sidebarChat__info > h2 {
  font-size: 16px;
  margin-bottom: 8px;
}

.sidebarChat__info {
  margin-left: 15px;
}

.sidebarChat {
  border-bottom: 1px solid #f6f6f6;
  cursor: pointer;
  display: flex;
  padding: 20px;
}

a {
  text-decoration: none !important;
  color: black;
}
