/* Estilos del SiderBar */
.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

/* SideBar Header styles  */
.siderbar__header {
  border-right: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.sidebar__headerRight {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-width: 10vw;
}

.sidebar__headerRight > .MuiSvgIcon-root {
  font-size: 24px !important;
  margin-right: 2vw;
}

/* SideBar Search styles  */
.sidebar__search {
  align-items: center;
  background-color: #f6f6f6;
  display: flex;
  height: 39px;
  padding: 10px;
}

.sidebar__searchContainer {
  align-items: center;
  border-radius: 20px;
  background-color: white;
  display: flex;
  height: 35px;
  width: 100%;
}

.sidebar__searchContainer > input {
  border: none;
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
}

/* SideBar Chat styles */
.sidebar__chats {
  background-color: white;
  flex: 1;
  overflow: scroll;
}
